@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
:root{
    --text-primary-color: #fff;
    --text-second-color: #c5bbbb;
    --header-color: #154079;
    --bg-color: #139cbe;
    --bg-second-color: #1382be;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;

}

/* Start Header */

header{
    height: 80px;
    background-color: var(--header-color);
    width: 100%;
}

body{
    min-width: 100%;
    color: white;
    font-family: 'Poetsen One', sans-serif;
    font-weight: normal;
}

header h1{
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none
}

a{
    text-decoration: none;
    color: initial;
}

nav ul li a{
    color: var(--text-primary-color);
}

nav ul li a:hover{
    color: var(--bg-color);
}

.btn{
    background-color: #0ba3c9;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    -webkit-box-shadow: 10px 10px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px -10px rgba(0,0,0,0.75);
    transition: all .2 ease-in-out;
}

.btn:hover{
    transform: scale(1.015);
}

/* End Header */

/* Start Main */

main{
    width: 100%;
    min-height: calc(100vh - 80px);
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home,
#reed,
#jhonny,
#contact{
    background-color: var(--bg-color);
}

#about,
#sue,
#ben{
    background-color: var(--bg-second-color);
}

.container-about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15% 4%;
    height: 100%;
}

.box-home {
    height: 100%;
    width: 100%;
}

.box-home img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
  
.box-text{
    width: 30%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.btn-quad{
    background-color: black;
    padding: 32px;
}

.txt-about {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: normal;
}

.txt-about div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background: #000;
    padding: 1% 2%;
    border-radius: 35px;
}

.content{
    font-size: 1.10rem;
    padding: 3% 6%;
    gap: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.content .box-two h1{
    text-align: center;
}

.reverse{
    flex-direction: row-reverse;
}

.box-one img{
    border-radius: 10px;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.box-two{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

span{
    font-size: 1rem;
}

.content form{
    width: 600px;
    height: 450px;
    padding: 16px;
    border-radius:6px;
    background-color: #154079;
    gap: 1rem;
    color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.content form textarea{
    resize: none;
    width:100%;
    height: 15rem;
    border: 1px solid #fff;
    border-radius: 10px;
}

.content form textarea,
.content form input{
    text-align: center;
}

.content form textarea:focus,
.content form input:focus{
    outline-color: #154079;
}

.content form input{
    height: 2rem;
    border: 1px solid #fff;
    border-radius: 10px;
}

.content form button {
    padding: 12px 8px;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Poetsen One', sans-serif;
    background-color: #27aacb;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.content form button:hover {
    transform: scale(1.02);
}

.content form button:active{
    transform: scale(1);
}


.content .img-contact{
    width: 25rem;
    border-radius: 10px;
}

/* End Main */

/* Start Footer */

.footer .box-container{
    padding: 0 2%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}

.footer .box-container .box{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: #000;
    font-weight: 500;
    
}

.footer .box-container .box img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding: .5rem;
    font-size: 1rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color: #000;
}

/* End Footer */

/* Start Responsividade */

@media screen and (max-width:1635px){
    

    .content .box-two h1{
        font-size: 1.7rem;
    }
    .content .box-two span{
        font-size: 1.2rem;
    }
    .content .box-two p{
        font-size: 1rem;
    }

    .box-one img{
        height: 25rem;
    }

    .content{
        flex-direction: column;
    }

    .contact{
        flex-direction: row;
    }

    .content .img-contact{
        width: 15rem;
    }
    
}

@media screen and (max-width: 1200px) {
   .box-one img{
    width: 300px;
    height: 300px;
   }

   .content .box-two h1{
    font-size: 1.2rem;
}
.content .box-two span{
    font-size: .9rem;
}
.content .box-two p{
    font-size: .9rem;
}

.content .img-contact{
    display: none;
}

}

@media screen and (max-width: 950px) {
    header .container nav{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .content form{
        width: 400px;
    }
}

@media screen and (max-width: 420px) {
    header{
        padding: 0 24px;
    }
    .container h1{
        font-size: 1rem;
    }

    .btn{
        font-size: 1rem;
        padding: 8px;
        margin-right: 5px;
    }


    .content form{
        width: 280px;
    }

    .box-one img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 300px){
    
    .content form{
        width: 250px;
    }

    
}



/* End Responsividade */
